/* <-- Variables --> */
:root{
	--background-Color: rgba(255,252,242,1);
	--accent-Color: rgb(195,149,68);
	--accent-Color-2: rgb(23,86,45);
	--text:rgb(0,35,7);
    --light-Green:rgb(201, 217, 196);
    --moss-Green:rgb(12, 66, 31);
    /*
    Mosegrønn: 12, 66, 31, 1
    Tekstgrønn: 1, 55, 12, 1
    Bakgrunnsbeige: 255, 252, 242, 1
    Lys mosegrønn: 201, 217, 196, 1
    Lys kobber: 195, 149, 68, 1
    */
}

/* <-- Global --> */
	body{
		background-color: var(--background-Color);
		padding: 0;
		margin: 0;
		font-family: Arial, Helvetica, sans-serif;
		color: var(--text);
	}
	main{
		margin-top: 80px;
	}
	a{
		color: var(--accent-Color-2);
		text-decoration: none;
	}

/* NAVIGATION BAR AND LOGO */
/* Teaching source: Powell, K. (May 16th 2018). Create a responsive navigation with no JS! [video].
   Found at https://www.youtube.com/watch?v=8QKOaTYvYUA&feature=emb_logo */
	header {
	    background-color: var(--background-Color);;
	    text-align: center;
	    position: fixed;
	    z-index: 999;
	    top: 0;
	    width: 100%;
	}
	
	.logo {
	    position: relative;
	    top: 0em;
	    text-align: left;
	    margin-left: 0.8em;
	    margin-top: 5px;
	    margin-bottom: 0px;
	}

    .position{
        border-bottom: solid 2px var(--accent-Color);
    }
	
	/* Hamburger-menu */
	.nav-hamburger {
	    position: absolute !important;
	    top: -9999px !important;
	    left: -9999px !important;
	}
	
	.nav-hamburger:focus ~ .nav-hamburger-label {
	    outline: 1px solid var(--background-Color);
	}
	
	.nav-hamburger-label {
	    position: absolute;
	    top: 0;
	    right: 0;
	    margin-right: 2.5em;
	    height: 100%;
	    display: flex;
	    align-items: center;
	}
	
	.nav-hamburger-label span {
	    position: relative;
	    top: 0.3em;
	    text-transform: uppercase;
	    color: black;
	    font-size: 1em;
	    letter-spacing: 0.2em;
	    font-weight: 100;
	}
	
	.nav-hamburger-label:hover{
	    cursor: pointer;
	}
	
	nav {
	    background-color: var(--background-Color);
	    position: absolute;
	    text-align: right;
	    top: 100%;
	    right: 0;
	    width: 80%;
	    transform: scale(1, 0);
	    transform-origin: top;
	    transition: transform 400ms ease-in-out;
	    z-index: 0;
	}
	
	nav ul {
	    margin: 0;
	    padding: 0;
	    list-style: none;
	}
	
	nav li {
	    margin-bottom: 1em;
	    margin-right: 2em;
	}
	
	nav a {
	    color: black;
	    z-index: 0;
	    text-decoration: none;
	    font-size: 0.9em;
	    text-transform: uppercase;
	    letter-spacing: 0.2em;
	    font-weight: 100;
	    opacity: 0;
	    transition: opacity 150ms ease-in-out;
	    padding: 0.6em;
	}
	
	nav a:hover {
	    border-radius: 4px;
	    background-color: rgba(50, 86, 93, 0.096) ;
	    color: rgb(0, 0, 0);
        font-weight: bold;
	}
	
	.nav-hamburger:checked ~ nav {
	    transform: scale(1, 1);
	}
	
	.nav-hamburger:checked ~ nav a {
	    opacity: 1;
	    transition: opacity 250ms ease-in-out 250ms;
	}

/* RESPONSIVE RULES */  
	@media screen and (min-width: 800px) {
	/* Navigation and logo ipad */
	    .logo {
	        top: 0.1em;
	        margin-left: 1em;
	    }
	
	    .logo a {
	        font-size: 0.78em;
	    }
	
	    .nav-hamburger-label {
	        display: none;
	    }
	
	    nav {
	    position: fixed;
	    transition: none;
	    transform: scale(1,1);
	    background: none;
	    top: 2.5em;
	    display: flex;
	    justify-content: flex-end;
	    }
	
	    nav ul {
	        margin-right: 0.5em;
	        display: flex;
	    }
	
	    nav a {
	        opacity: 1;
	        font-size: 0.9em;
	        padding: 0.5em;
	        }
	    }
	    
	    @media screen and (min-width: 1300px){
	        /* Navigation and logo desktop */
	        .logo {
	            margin-left: 2.5em;
	        }
	    
	        .logo a {
	            font-size: 0.9em;
	        }
	
	        nav a {
	            margin-right: 2.5em;
	            font-size: 1em;
	            }
	    }

/* FOOTER */
    footer{
        border-top: var(--accent-Color) solid 1px;
        width: 100%;
        margin-top: 40px;
        margin: auto;
        padding: 20px;
        padding-top: 15px;
        text-align: center;
        position: fixed;
        bottom: 0;
    }

/* FRONT PAGE EXCLUSIVE */
	#frontPageImage{
		background-image: url("Pictures/pexels-archie-binamira-672358.jpg");
		height: 250px;
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	#contactBlock{
		text-align: center;
	}

/* <-- Content Block Stuff --> */
.textCenter{
    text-align: center;
}
	#content{
		width: 70%;
		margin: auto;
		position: relative;
		top: 40px;
	}
	.contentBlock{
		margin: 20px 0;
		margin-bottom: 70px;
	}
	.contentBlock h1{
		text-align: center;
		padding-bottom: 15px;
		border-bottom: solid 3px var(--accent-Color);
		font-size: 26px;
		width: 80%;
		margin: auto;
		margin-bottom: 30px;
	}
	.contentBlock p{
		font-size: 19px;
		line-height: 1.5em;
		letter-spacing: 0.03em;
	}
	.contentBlock img{
		max-width: 100%;
	}
	.verticalAlignCenter{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.flexRow{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.flexRow p{
		margin: 0; 
		margin-top:10px;
		margin-bottom: 10px;
	}
	.widthAboutUs{
		width: 100%;
	}
	.flexColumn{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

/* PROBLEM PAGE */
	.noWrap{
		flex-wrap: nowrap;
	}
	
	#goalImg{
		width: 150px;
		margin-right: 20px;
		position: relative;
		top:20px;
        margin-bottom: 15px;

	}

/* CONTACT US  */
    .contactForm{
        text-align: center;
    }
    #formContent{
        width: 70%;
        margin: auto;
        margin-top: 60px;
    }
    #formContent input[type=text]{
        padding: 5px;
        margin-bottom: 15px;
    }
    #formContent label{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .formPairing{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .formRow{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }
    #centerButton{
        display: flex;
        justify-content: center;
    }
    .submit{
        display: inline-block;
        padding: 10px 20px;
        background-color: var(--accent-Color);
        border-radius:2px;
        border: none;
    
        margin-top: 18px;
    
        text-decoration: none;
        color: white;
        font-size: 18px;

        transition: background-color 0.5s;
    }
    .submit:hover{
        background-color: var(--accent-Color-2);
        transition: background-color 0.5s;

        cursor: pointer;
    }
    #message{
        width: 70%;
        margin:auto;
    }

/* <-- Button --> */
	.linkButton div{
		display: inline-block;
		padding: 10px;
		background-color: var(--accent-Color);
		border-radius:2px;
	
		margin-top: 10px;
	
		text-decoration: none;
		color: white;

		transition: background-color 0.5s;
	}
	.linkButton div:after{
		content: "\2192";
		margin-left: 7px;
		transition: margin-left 0.2s;
	}
	.linkButton div:hover:after{
		margin-left: 12px;
		transition: margin-left 0.2s;
	}
	.linkButton div:hover{
		background-color: var(--accent-Color-2);
		transition: background-color 0.5s;
	}

/* <-- Responsiveness -->*/
	@media screen and (min-width: 800px){
		#frontPageImage{
			height: 335px;
		}
		.flexRow_Over800px{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		.width48_Over800px{
			width: 48%;
		}
		.widthAboutUs{
			width: 350px;
		}
        #goalImg{
            width: 600px;
        }
        #formContent input[type=text]{
            width: 100%;
        }
	}

	@media screen and (max-width: 1018px){
		.widthAboutUs{
			width: 100%;
		}
	}

	@media screen and (min-width: 1300px){
		#frontPageImage{
			height: 600px;
		}
		#content{
			width: 65%;
		}
		.contentBlock p{
			font-size: 21px;
		}
		.contentBlock h1{
			font-size: 30px;
		}
		.linkButton{
			font-size: 19px;
		}
		.widthAboutUs{
			width: 418px;
		}
        #goalImg{
            width: 400px;
        }
        #formContent input[type=text]{
            width: 260px;
        }
	}

    @media screen and (min-width: 1940px){
        .widthAboutUs{
            width: 550px;
        }
    }